<!-- Full Width Column -->
<div class="content-wrapper" style="overflow:hidden;height:100%">
  <div class="container">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-sm-9">
          <!--<div class="box box-info direct-chat direct-chat direct-chat-warning" >-->
          <div class="box box-primary direct-chat" style="border-top-color: rgba(215, 58, 49, 0.8)"  >

            <div class="box-header with-border">
                <h2 class="box-title pull-left" >{{roomName}}</h2>
              <div ng-show="schedule.isSchedule"><hr></div>
                <img class="box-title pull-left" ng-show="schedule.isSchedule" src="app/css/dist/img/calendar.png" style="width: 25px;height: 25px;">
                <h1 class="box-schedule pull-left" ng-show="schedule.isSchedule"> date : {{schedule.scheduleDate}}</h1>
                <h1 class="box-schedule pull-left" ng-show="schedule.isSchedule"> Address : {{schedule.scheduleAddress}}</h1>
              <div class="box-tools pull-right">
                <!-- plus Function-->
                <button class="btn btn-box-tool mobile" ng-click="plusFunction()"><i class="glyphicon glyphicon-plus"></i></button>
                <!-- Google Map -->
                <button class="btn btn-box-tool mobile" ng-click="googleMap()"><i class="glyphicon glyphicon-globe"></i></button>
                <!-- EXPORT Button -->
                <button class="btn btn-box-tool mobile" ng-click="mongoExport()"><i class="glyphicon glyphicon-save-file"></i></button>
                <!-- Any File Select Button -->
                <button class="btn btn-box-tool mobile" ng-model="Files"><i class="glyphicon glyphicon-paperclip"></i></button>
                <!-- onlime member list mobile -->
                <button class="btn btn-box-tool mobile toggle-contact-icon" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Contacts" ng-click="toggleCustom()"><i class="fa fa-comments"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages" schroll-bottom="messeges" >
                <!-- Message. Default to the left -->
                <div ng-repeat="messege in messeges" ng-class="{'direct-chat-msg' : true, 'right' : messege.ownMsg, 'wordwrap' : true}" >
                  <div class='direct-chat-info clearfix' >
                    <!--avatar and timestamp -->
                    <span class='direct-chat-name pull-right' ng-show="messege.ownMsg">{{ messege.userName }}</span>
                    <span class='direct-chat-name pull-left' ng-hide="messege.ownMsg">{{ messege.userName }}</span>

                    <span class='direct-chat-timestamp pull-left' ng-show="messege.ownMsg">{{ messege.msgTime }}</span>
                    <span class='direct-chat-timestamp pull-right' ng-hide="messege.ownMsg">{{ messege.msgTime }}</span>
                  </div><!-- /.direct-chat-info -->
                  <!--<img class="direct-chat-img" ng-src="app/css/dist/img/{{messege.userAvatar}}" alt="message user image" />-->
                  <!-- /.direct-chat-img -->
                  <img class="direct-chat-img" ng-src="{{messege.userAvatar}}" onerror="javascript:this.src='http://192.168.0.54:8080/resources/images/room/default.jpeg'"/><!-- /.direct-chat-img -->
                  <div ng-class="{'direct-chat-text' : true, 'text-right' : messege.ownMsg}" style="width: {{messege.length}}%" >
                    <!--ng-style="{backgroundColor : !messege.ownMsg ? '#56B1BF' : '#DOD3C5'}"-->
                    <div ng-hide="hasFile || messege.istype=='map'">{{ messege.msg }}</div>

                    <!-- {{ messege.sendfile }} Media File Messeges -->
                    <div class="item" ng-show="messege.hasFile">
                      <div class="attachment clearfix">
                        <!-- Image File Open -->
                        <div ng-class="{'filename' : true,'chat-msg' : true}" ng-show="messege.isImageFile">
                          <div>
                            <div ng-class="{'attachment-icon-right' : messege.ownMsg, 'attachment-icon-left' : !messege.ownMsg}" >
                              <a href ng-click="openClickImage(messege)" ng-show="messege.showme" >
                                <!--<img id="{{messege.dwid}}" width="50" height="50" ng-src="{{messege.dwimgsrc}}" alt="Open Image"></a> &lt;!&ndash; Open Icon &ndash;&gt;-->
                                <img id="{{messege.dwid}}" width="50" height="50" ng-src="{{messege.serverfilename}}" alt="Open Image"></a>

                              <a ng-href="{{messege.serverfilename}}" data-lightbox="{{messege.dwid}}" data-title="{{messege.filename}}" ng-hide="messege.showme">
                                <img ng-class="{'multiple-borders-white' : messege.ownMsg,'multiple-borders-black' : !messege.ownMsg}" id="{{messege.dwid+1}}" width="90" height="70" ng-src="{{messege.serverfilename}}" alt="Image File"> <!-- Image -->
                              </a>
                            </div>
                            <div ng-class="{'attachment-msg-right' : messege.ownMsg, 'attachment-msg-left' : !messege.ownMsg}" ng-hide="messege.showme">
                              <span class="decs-text"><b>File :</b> {{ messege.filename}}</span>
                              <span class="decs-text"><b>Size :</b> {{messege.size}}</span>
                              <span class="decs-text">
                                    <a id ="{{messege.dwid}}" class="decs-text" ng-show="messege.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>
                                  <a id ="{{messege.dwid}}" class="decs-text" ng-show="!messege.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>
                                  <a id ="{{messege.dwid}}A" class="decs-text hidden-link" href="{{ messege.serverfilename }}"  download="{{ messege.serverfilename }}"><i>Hidden Link</i></a>
                                  </span>
                            </div>
                            <div ng-class="{'attachment-msg-right' : messege.ownMsg, 'attachment-msg-left' : !messege.ownMsg}" ng-if="(messege.dwimgsrc !== 'app/images/spin.gif')" ng-show="messege.showme">
                              <span class="decs-text"><b>File :</b> {{ messege.filename}}</span>
                              <span class="decs-text"><b>Size :</b> {{messege.size}}</span>
                              <span class="decs-text">
                                    <a id ="{{messege.dwid}}" class="decs-text" ng-show="messege.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>
                                  <a id ="{{messege.dwid}}" class="decs-text" ng-show="!messege.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>
                                  <a id ="{{messege.dwid}}A" class="decs-text hidden-link" href="{{ messege.serverfilename }}"  download="{{ messege.serverfilename }}"><i>Hidden Link</i></a>
                                  </span>
                            </div>
                          </div>
                        </div> <!-- Image File Close -->



                        <!-- GOOGLE MAP File Open -->

                        <div ng-class="{'filename' : true,'chat-msg' : true}" ng-show="messege.isMapFile">
                          <!-- this is GOOGLE MAP -->
                          <div>
                            <div ng-class="{'attachment-icon-right' : messege.ownMsg, 'attachment-icon-left' : !messege.ownMsg}">
                              <a href ng-click="openClickMap(messege)" ng-show="messege.showme" >
                                <img id="{{messege.dwid}}" width="150" height="150" ng-src="{{messege.dwimgsrc}}" alt="Open Image"></a> <!-- Open Icon -->

                              <!--<a ng-href="{{messege.serverfilename}}" data-lightbox="{{messege.dwid}}" data-title="{{messege.filename}}" ng-hide="messege.showme">-->
                              <a ng-click="popupMap(messege.msg)" ng-hide="messege.showme">
                                <img ng-class="{'multiple-borders-white' : messege.ownMsg,'multiple-borders-black' : !messege.ownMsg}" id="{{messege.dwid+1}}" width="90" height="50" ng-src="{{messege.serverfilename}}" alt="Image File"> <!-- Image -->
                              </a>
                            </div>

                          </div>
                        </div>
                        <!-- GOOGLE MAP File Close -->



                        <!-- Audio File Open -->
                        <div ng-class="{'filename' : true, 'chat-msg' : true}" ng-show="messege.isMusicFile">
                          <div ng-class="{'attachment-icon-right' : messege.ownMsg, 'attachment-icon-left' : !messege.ownMsg}">
                            <a href ng-click="openClickMusic(messege)">
                              <img id="{{messege.dwid}}" width="45" height="45" ng-src="{{messege.dwimgsrc}}" alt="Music File" title="play"></a>
                          </div>
                          <div ng-class="{'attachment-msg-right' : messege.ownMsg, 'attachment-msg-left' : !messege.ownMsg}">
                            <span class="decs-text" ng-show="messege.showme"><b>File :</b> {{ messege.filename}}</span>
                            <span class="decs-text" ng-show="messege.showme"><b>Size :</b> {{messege.size}}</span>
                            <span class="decs-text" ng-show="messege.showme"><a id ="{{messege.dwid}}" class="decs-text" ng-show="messege.ownMsg" onclick="return angular.element(this).scope().downloadMusic(event,this)" href ><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>
                                <a id ="{{messege.dwid}}" class="decs-text" ng-show="!messege.ownMsg" onclick="return angular.element(this).scope().downloadMusic(event,this)" href ><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>
                                <a id ="{{messege.dwid}}A" class="decs-text hidden-link" href="{{ messege.serverfilename }}"  download="{{ messege.serverfilename }}"><i>Hidden Link</i></a></span>
                          </div>
                        </div><!-- Audio File Close -->

                        <!-- Doc File Open -->
                        <div ng-class="{'filename' : true, 'chat-msg' : true}" ng-show="messege.isPDFFile">
                          <div ng-class="{'attachment-icon-right' : messege.ownMsg, 'attachment-icon-left' : !messege.ownMsg}">
                            <a href ng-click="openClickPDF(messege)">
                              <img id="{{messege.dwid}}" width="45" height="45" ng-src="{{messege.dwimgsrc}}" alt="Document"></a>
                          </div>
                          <div ng-class="{'attachment-msg-right' : messege.ownMsg, 'attachment-msg-left' : !messege.ownMsg}">
                            <span class="decs-text" ng-show="messege.showme"><b>File :</b> {{ messege.filename}}</span>
                            <span class="decs-text" ng-show="messege.showme"><b>Size :</b> {{messege.size}}</span>
                            <span class="decs-text" ng-show="messege.showme"><a id ="{{messege.dwid}}" class="decs-text" ng-show="messege.ownMsg"  onclick="return angular.element(this).scope().downloadPDF(event,this)" href><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>
                                <a id ="{{messege.dwid}}" class="decs-text" ng-show="!messege.ownMsg"  onclick="return angular.element(this).scope().downloadPDF(event,this)" href><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>
                                <a id ="{{messege.dwid}}A" class="decs-text hidden-link" href="{{ messege.serverfilename }}"  download="{{ messege.serverfilename }}"><i>Hidden Link</i></a>
                          </div>
                        </div><!-- Doc file Close -->
                      </div><!-- /.attachment -->
                    </div><!-- /.item-->
                  </div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->
              </div><!--/.direct-chat-messages-->

              <!-- plus Function Toggle START-->

              <div id="plusFunctionToggle" class="plus_function_inner">
                <div>
                  <div class="plus-function-toggle">

                    <button class="btn btn-flat" title="공개여부" ng-show="userNo == master"  ng-click="updateRoomOpen()"><img ng-src="app/css/dist/img/unlocked.png" style="width: 35px;height: 35px;"></button>
                    <button class="btn btn-flat" title="일정FIX" ng-show="userNo == master"  ng-click="popupSchedule()"><img ng-src="app/css/dist/img/location.png" style="width: 35px;height: 35px;"></button>
                    <button class="btn btn-flat" title="친구목록" ng-click="listFriend(roomKey)"><img ng-src="app/css/dist/img/party.png" style="width: 35px;height: 35px;"></button>
                    <button class="btn btn-flat" title="채팅유저" ng-click="listRoomUser(roomKey)"><img ng-src="app/css/dist/img/group-button.png" style="width: 35px;height: 35px;"></button>
                    <button class="btn btn-flat"  title="신고하기" ng-click="addReport(roomKey)"><img ng-src="app/css/dist/img/warning.png" style="width: 35px;height: 35px;"></button>

                  </div>
                </div>
              </div>

              <!-- plus Function Toggle END-->



              <div id="slidememberlist" class="slideout_inner">
                <!-- Contacts are loaded here -->
                <div>
                  <div class="direct-chat-messages ol-members">
                    <ul class='contacts-list'>
                      <li ng-repeat="user in users">
                        <a href ng-click="getProfile(user.userNo)">
                          <!--<img class='contacts-list-img' ng-src='app/css/dist/img/{{user.userAvatar}}'/>-->
                          <img class='contacts-list-img' ng-src='{{user.userAvatar}}' onerror="javascript:this.src='http://192.168.0.54:8080/resources/images/room/default.jpeg'"/>
                          <div class='contacts-list-info'>
                            <span class="ol-memeber-name" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{ user.userName }}</span>
                          </div><!-- /.contacts-list-info -->
                        </a>
                      </li><!-- End Contact Item -->
                    </ul><!-- /.contatcts-list -->
                  </div><!--/.direct-chat-messages-->
                </div>
              </div>


              <div class="chat-box"></div>
            </div><!-- /.box-body -->
            <div class="box-footer">

              <div class="box-tools pull-right desktop">
                <!-- Plus Button -->
                <button class="btn btn-flat" ng-click="plusFunction()" data-toggle="tooltip" title="추가기능" style="border-radius:6px;margin-left: 2px;"><i class="glyphicon glyphicon-plus"></i></button>

              </div>

              <div class="box-tools pull-right desktop">
                <!-- Google Map Button -->
                <button class="btn btn-flat" ng-click="googleMap()" style="border-radius:6px;margin-left: 1px;"><i class="glyphicon glyphicon-globe"></i></button>
                <input type="text" id="map-url" class="hidden" ng-model="mapUrl" ng-model-change ng-click="addMap(mapUrl)" value="">
                <input type="text" id="user-name" class="hidden" value="{{ userName }}">
              </div>

              <div class="box-tools pull-right desktop">
                <!-- EXPORT Button -->
                <button class="btn btn-flat" ng-click="mongoExport()" style="border-radius:6px;margin-left: 2px;"><i class="glyphicon glyphicon-save-file"></i></button>
              </div>
              <!-- download mongoDB.txt -->
              <a id ="mongoDB" class="decs-text hidden-link" href="TwiioChat({{ userName }}).txt" download="TwiioChat({{ userName }}).txt"><i>Hidden Link</i></a>

              <div class="box-tools pull-right desktop">
                <!-- Any File Select Button -->
                <button class="btn btn-flat" data-widget="" ngf-select ng-model="Files" style="border-radius:6px;margin-left: 1px;"><i class="glyphicon glyphicon-paperclip"></i></button>
              </div>

              <!-- Text message  -->
              <form action="" method="post">
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type Message ..." ng-class="{'form-control': true, 'has-error':isMsgBoxEmpty}" ng-model="chatMsg" ng-change="isMsgBoxEmpty=false" ng-enter="sendMsg()" ng-focus="setFocus" focus-me="setFocus" style="border-radius:6px; padding-left: 2px;"/>
                  <span class="input-group-btn">
                      <button type="button" class="btn  btn-flat" ng-click="sendMsg()" style="border-radius:6px;margin-left: 1px;">Send</button>
                    </span>
                </div>
              </form>
            </div><!-- /.box-footer-->
          </div><!-- /.box -->
        </div>

        <div class="col-sm-3 toggle-contact-list">
          <div class="box box-info direct-chat direct-chat-warning" style="border-top-color: rgba(215, 58, 49, 0.8)">
            <div class="box-header with-border" >
              <h3 class="box-title">Online Members</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <!-- Contacts are loaded here -->
              <div class="direct-chat-messages ol-members">
                <ul class='contacts-list'>
                  <li ng-repeat="user in users">
                    <a href ng-click="getProfile(user.userNo)">
                      <input type="hidden" id="profileUserNo" ng-model="profileUserNo" value="{{user.userNo}}">
                      <!--<img class='contacts-list-img' ng-src='app/css/dist/img/{{user.userAvatar}}'/>-->
                      <img class='contacts-list-img' ng-src='{{user.userAvatar}}' onerror="javascript:this.src='http://192.168.0.54:8080/resources/images/room/default.jpeg'"/>
                      <div class='contacts-list-info'>
                        <span class="ol-memeber-name" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{user.userName }}</span>
                      </div><!-- /.contacts-list-info -->
                    </a>
                  </li><!-- End Contact Item -->
                </ul><!-- /.contatcts-list -->
              </div><!--/.direct-chat-messages-->

            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </div>
      </div>
    </section><!-- /.content -->
  </div><!-- /.container -->
</div><!-- /.content-wrapper -->


